service vendor.oplus_syshelper /vendor/bin/hw/vendor.oplus.hardware.syshelper.service
    class hal
    user system
    group system
    # ALS correction is disabled because it depends on system_ext and SurfaceFlinger.
    onrestart restart vendor.fps_hal.samurai
